<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edg"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="page-header col-lg-12">
        <h1 th:text="${username}" class="col-lg-2"></h1>
        <h1 class="col-lg-2"><small th:text="Welcome">Welcome</small></h1>
        <img th:src="${img}" class="img-circle">
    </div>
    <!--
        全页面横向布局为两列
    -->
    <div class="container">

        <div class="row">
            <!--功能 -->
            <span class="col-lg-2">
                <div style="padding-top: 20px;padding-bottom: 20px">
                    <button type="button" class="btn btn-primary btn-lg btn-block">
                        <a th:href="@{/toUserCenter}"
                           th:text="个人中心"
                           style="color: white"></a></button>
                </div>
                
                <div style="padding-top: 20px;padding-bottom: 20px">
                    <button type="button" class="btn btn-danger btn-lg btn-block">
                        <a th:href="@{/toTeam}"
                           th:text="辩论队"
                           style="color: white"></a> </button>
                </div>

                <div style="padding-top: 20px;padding-bottom: 20px">
                    <button type="button" class="btn btn-success btn-lg btn-block">
                        <a th:href="@{/toEssay}"
                           th:text="我的文章"
                           style="color: white"></a></button>
                </div>

                <div style="padding-top: 20px;padding-bottom: 20px">
                    <button type="button" class="btn btn-info btn-lg btn-block">
                        <a th:href="@{/newEssay}"
                           th:text="新的文章"
                           style="color: white"></a></button>
                </div>

            </span>
            <!--热门文章-->
            <span class="col-lg-10">
                <table class="table table-hover">
                    <tr>
                        <h1 class="col-lg-offset-4">热门文章</h1>
                    </tr>
                    <tr th:each="hotEssayList:${hotEssayList}" id="Tr">
                        <td>
                            <div>
                                <h4>
                                    <a th:text="${hotEssayList.title}"
                                       th:href="@{/getEssayByEssayId(essayId=${hotEssayList.essayId})}"
                                       style="color: #0f0f0f"
                                        target="_blank">
                                    </a></h4></div>

                            <div>
                                <a th:text="${hotEssayList.username}"
                                th:href="@{/toDebaterUserCenter(debateId=${hotEssayList.debateId})}"
                                style="color: #0f0f0f"
                                target="_blank"></a>
                                &nbsp;&nbsp;
                                <span th:text="${hotEssayList.date}"></span>
                                &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span th:text="${hotEssayList.nol}"></span>
                                </div>

                        </td>
                    </tr>
                </table>
            </span>
        </div>
    </div>


    <script th:inline="javascript">

        const Tr = document.getElementById("Tr");

        function toEssay(){
            self.location.href = "@{/getEssayByEssayId(essayId=[[${hotEssay.essayId]])}";
        }

        Tr.addEventListener("click",toEssay(),false)
    </script>

</body>


</html>