<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edg"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="page-header">
        <h1>文章标题<small>作者</small></h1>
    </div>

    <div class="col-lg-12 col-lg-offset-1">
        <span>分类：</span>
        <span class="label label-info">标签</span>
    </div>
    <div class="col-lg-12 col-lg-offset-1">
        <span>发布时间：</span>
        <span>2022-04-09</span>
    </div>

    <div>
        <div class="col-lg-12">
            <textarea placeholder="请输入评论信息" maxlength="200"
                      class="col-lg-6 col-lg-offset-3"></textarea>
        </div>
        <div class="col-lg-12">
            <input th:action="@{/insertComment}" value="发布"
                   class="btn btn-success col-lg-1 col-lg-offset-8">
        </div>
    </div>
</body>
</html>