<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edg"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <!--页头：头像+用户名-->
        <div class="page-header col-lg-12" style="margin-top: 20px">
            <h1 style="margin-top: 10px">
                <img scr="" class="img-circle" style="width: 100px;height: 100px">
                <small th:text="${username}"></small>
            </h1>
        </div>
        <!--页面内容:近期动态展示-->
        <div class="row">
            <span class="col-lg-9">
                <table class="table table-hover ">

                    <tr th:each="essay:${essayList}" >
                        <td>
                            <div>
                                <h4>
                                    <a th:text="${essay.title}"
                                       th:href="@{/getEssayByEssayId(essayId=${essay.essayId})}"
                                       style="color: #0f0f0f">
                                    </a></h4></div>

                            <div>
                                <span th:text="${essay.username}"></span>
                                &nbsp;l&nbsp;
                                <span th:text="${essay.date}"></span>
                                &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span th:text="${essay.nol}"></span>
                                </div>

                        </td>

                    </tr>
                </table>
            </span>
        </div>
    </div>
</body>
</html>